@model List<projetoJobs.Models.Vaga>

<div style="width:90%;margin:auto;margin-top:40px;">
    <h2 class="text-center mb-4">Minhas Vagas</h2>

    <a href="/Empresas/Criar" class="btn btn-success mb-3">+ Criar Nova Vaga</a>

    <table class="table table-striped table-bordered shadow">
        <thead class="table-dark">
            <tr>
                <th>Nome da Vaga</th>
                <th>Descrição</th>
                <th>Salário</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var vaga in Model)
            {
                <tr>
                    <td>@vaga.NomeVaga</td>
                    <td>@vaga.DescricaoVaga</td>
                    <td>R$ @vaga.Salario</td>
                    <td>
                        @* <a asp-action="Detalhes" asp-controller="Empresas" asp-route-id="@vaga.Id"
                            class="btn btn-primary btn-sm">Ver</a> *@

                        <a asp-action="Editar" asp-controller="Empresas" asp-route-id="@vaga.Id" class="btn btn-warning">Editar</a>

                        <form asp-action="Excluir" asp-controller="Empresas" asp-route-id="@vaga.Id" method="DELETE" class="d-inline">
                            <input type="hidden" name="id" value="@vaga.Id" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Tem certeza que deseja excluir?');"> Excluir </button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<a href="/Auth/Logout">Sair</a>